WebContent/wsdl/CenterServerManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Server" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Server" xmlns:intf="http://Server" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Server" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getRecordCounts">
    <complexType>
     <sequence>
      <element name="managerId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRecordCountsResponse">
    <complexType>
     <sequence>
      <element name="getRecordCountsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="transferRecord">
    <complexType>
     <sequence>
      <element name="managerId" type="xsd:string"/>
      <element name="recordID" type="xsd:string"/>
      <element name="remoteCenterServerName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="transferRecordResponse">
    <complexType>
     <sequence>
      <element name="transferRecordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editRecord">
    <complexType>
     <sequence>
      <element name="managerId" type="xsd:string"/>
      <element name="recordID" type="xsd:string"/>
      <element name="filedname" type="xsd:string"/>
      <element name="newValue" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editRecordResponse">
    <complexType>
     <sequence>
      <element name="editRecordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTRecord">
    <complexType>
     <sequence>
      <element name="managerId" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="phone" type="xsd:string"/>
      <element name="specialization" type="xsd:string"/>
      <element name="location" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createTRecordResponse">
    <complexType>
     <sequence>
      <element name="createTRecordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createSRecord">
    <complexType>
     <sequence>
      <element name="managerId" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
      <element name="courseRegistered" type="xsd:string"/>
      <element name="status" type="xsd:string"/>
      <element name="statusdate" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createSRecordResponse">
    <complexType>
     <sequence>
      <element name="createSRecordReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRecordCountsResponse">

      <wsdl:part element="impl:getRecordCountsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createSRecordRequest">

      <wsdl:part element="impl:createSRecord" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createSRecordResponse">

      <wsdl:part element="impl:createSRecordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="transferRecordRequest">

      <wsdl:part element="impl:transferRecord" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="transferRecordResponse">

      <wsdl:part element="impl:transferRecordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editRecordRequest">

      <wsdl:part element="impl:editRecord" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTRecordResponse">

      <wsdl:part element="impl:createTRecordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editRecordResponse">

      <wsdl:part element="impl:editRecordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRecordCountsRequest">

      <wsdl:part element="impl:getRecordCounts" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createTRecordRequest">

      <wsdl:part element="impl:createTRecord" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CenterServerManagement">

      <wsdl:operation name="getRecordCounts">

         <wsdl:input message="impl:getRecordCountsRequest" name="getRecordCountsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRecordCountsResponse" name="getRecordCountsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferRecord">

         <wsdl:input message="impl:transferRecordRequest" name="transferRecordRequest">

       </wsdl:input>

         <wsdl:output message="impl:transferRecordResponse" name="transferRecordResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editRecord">

         <wsdl:input message="impl:editRecordRequest" name="editRecordRequest">

       </wsdl:input>

         <wsdl:output message="impl:editRecordResponse" name="editRecordResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTRecord">

         <wsdl:input message="impl:createTRecordRequest" name="createTRecordRequest">

       </wsdl:input>

         <wsdl:output message="impl:createTRecordResponse" name="createTRecordResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createSRecord">

         <wsdl:input message="impl:createSRecordRequest" name="createSRecordRequest">

       </wsdl:input>

         <wsdl:output message="impl:createSRecordResponse" name="createSRecordResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CenterServerManagementSoapBinding" type="impl:CenterServerManagement">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRecordCounts">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRecordCountsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRecordCountsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="transferRecord">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="transferRecordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="transferRecordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editRecord">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editRecordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editRecordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createTRecord">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createTRecordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createTRecordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createSRecord">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createSRecordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createSRecordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CenterServerManagementService">

      <wsdl:port binding="impl:CenterServerManagementSoapBinding" name="CenterServerManagement">

         <wsdlsoap:address location="http://localhost:8080/Comp6231WebService/services/CenterServerManagement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
